target
target/*
*~
*.idea
*.iml
*.eml
.project
.settings
.classpath
/target
*/target/**
*.log
rebel.xml
antx.properties
application.properties
antx.properties*
*/test-output/*
*/.DS_Store
.factorypath
tasks.json
node_modules
.history